version: "3"

services:
  app:
    container_name: app
    build: .
    ports:
      - "127.0.0.1:8080:8080"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/api/hello?name=healthcheck"]
      interval: 30s
      timeout: 10s
      retries: 3
    restart: on-failure
  db:
    container_name: db
    image: postgres:14.19-alpine
